# What this file does

I take two csv files that I got off the NJProperties' API  (see: Mystic Island.ipynb) and compare mailing addresses to property locations to see if they match. Before I do that, I need to standardize a few things about the addresses — whether drive is spelt DRIVE or DR, for instance — so I write a function with the help of regular expressions. The discrepancies between the way that addresses are formatted in the two cases are fixed by hardcoding — I chose my keywords after studying the map of Mystic Island to see what pose an issue.

# Comparing owners' mailing addresses to their Mystic Properties

In [328]:
#import pandas, numpy, regex

In [329]:
import pandas as pd
import re
import numpy as np

In [330]:
#read in my data in two batches

In [331]:
!ls

340291517_M4_2018.xls           bottom_half_property_Mystic.csv
Executing the comparison.ipynb  top_half_property_Mystic.csv
Mystic Islands.ipynb

In [332]:
df_1 = pd.read_csv('top_half_property_Mystic.csv')

In [333]:
df_1

,Unnamed: 0,Code,Property_Location,Mailing Address
0,0,1517_2_7,221 BEAVER DAM ROAD,221 BEAVER DAM RD
1,1,1517_48.01_6,125 SOUTH SHORE DRIVE,121 S SHORE DR
2,2,1517_48.01_7,121 SOUTH SHORE DRIVE,121 S SHORE DR
3,3,1517_48.01_8,117 SOUTH SHORE DRIVE,117 S SHORE DR
4,4,1517_48.01_12,101 SOUTH SHORE DRIVE,101 S SHORE DR
...,...,...,...,...
3728,3728,1517_285.05_32,2 NAUTIC WAY,2 NAUTIC WAY
3729,3729,1517_285.05_33,4 NAUTIC WAY,4 NAUTIC WAY
3730,3730,1517_285.06_1,1 WINDSTAR DRIVE,1 WINDSTAR DR
3731,3731,1517_285.06_2,10 SUNRISE BAY BOULEVARD,18 LINKS LN
3732,3732,1517_285.06_3,12 SUNRISE BAY BOULEVARD,12 SUNRISE BAY BLVD

In [334]:
df_2 = pd.read_csv('bottom_half_property_Mystic.csv')

In [335]:
df_2

,Unnamed: 0,Code,Property_Location,Mailing Address
0,0,1517_285.06_4,14 SUNRISE BAY BOULEVARD,14 SUNRISE BAY BLVD
1,1,1517_285.06_5,16 SUNRISE BAY BOULEVARD,16 SUNRISE BAY
2,2,1517_285.06_6,18 SUNRISE BAY BOULEVARD,18 SUNRISE BAY BLVD
3,3,1517_285.06_7,20 SUNRISE BAY BOULEVARD,20 SUNRISE BAY BLVD
4,4,1517_285.06_8,22 SUNRISE BAY BOULEVARD,22 SUNRISE BAY BLVD
...,...,...,...,...
4928,4928,1517_331.07_14,22 SEA ISLE DRIVE,22 SEA ISLE DR
4929,4929,1517_331.07_15,21 SEA ISLE DRIVE,21 SEA ISLE DR
4930,4930,1517_331.07_17,17 SEA ISLE DRIVE,17 SEA ISLE DR
4931,4931,1517_333.33_1,80 EAST ANCHOR DRIVE,124 E ANCHOR DR
4932,4932,1517_333.33_3,EAST ANCHOR DRIVE,124 E ANCHOR DR

# Hardcoding the discrepancy fixes

In [336]:
#list of streets in Mystic Island: https://www.streetadvisor.com/find-streets-in-city/mystic-island-ocean-county-new-jersey

In [337]:
# look out for west, east, drive, road, court, south, north, avenue, route, lane, street, boulevard, trailing spaces, place, highway

In [339]:
def fixes(x):
    
    try: 
        
        if bool(re.search(r'\s$', x)) == True:
            trailing_space = re.compile(r'\s$')
            x = (trailing_space.sub('', x))   
       
        
        if bool(re.search(r'\sST$', x)) == True:
            street_1 = re.compile(r'\sST$')
            x = (street_1.sub(' STREET', x))     
        

        if bool(re.search(r'\sDR$', x)) == True:
            drive_1 = re.compile(r'\sDR$')
            x = (drive_1.sub(' DRIVE', x))
        
        if bool(re.search(r'\sN\s', x)) == True:
            north = re.compile(r'\sN\s')
            x = (north.sub(' NORTH ', x))
        
        if bool(re.search(r'\sS\s', x)) == True:
            south = re.compile(r'\sS\s')
            x = (south.sub(' SOUTH ', x))
                
        if bool(re.search(r'\sW\s', x)) == True:
            west = re.compile(r'\sW\s')
            x = (west.sub(' WEST ', x))
            
        if bool(re.search(r'\sE\s', x)) == True:
            east = re.compile(r'\sE\s')
            x = (east.sub(' EAST ', x))
        
        
        if bool(re.search(r'\sLN$', x)) == True:
            lane_1 = re.compile(r'\sLN$')
            x = (lane_1.sub(' LANE', x))
        
                
        if bool(re.search(r'\sAVE$', x)) == True:
            ave_1 = re.compile(r'\sAVE$')
            x = (ave_1.sub(' AVENUE', x))
        

        if bool(re.search(r'\sBLVD$', x)) == True:
            blvd_1 = re.compile(r'\sBLVD$')
            x = (blvd_1.sub(' BOULEVARD', x))
                
        if bool(re.search(r'\sRTE$', x)) == True:
            rte_1 = re.compile(r'\sRTE$')
            x = (rte_1.sub(' ROUTE', x))
    
        if bool(re.search(r'\sCT$', x)) == True:
            court_1 = re.compile(r'\sCT$')
            x = (court_1.sub(' COURT', x))        

        if bool(re.search(r'\sRD$', x)) == True:
            rd_1 = re.compile(r'\sRD$')
            x = (rd_1.sub(' ROAD', x))
            
        if bool(re.search(r'\sPL$', x)) == True:
            place_1 = re.compile(r'\sPL$')
            x = (place_1.sub(' PLACE', x))  

        if bool(re.search(r'\sHWY$', x)) == True:
            hwy_1 = re.compile(r'\sHWY$')
            x = (hwy_1.sub(' HIGHWAY', x))             
            
    except:
        print(x)
        pass
        
    return x

In [340]:
#test cases

In [341]:
str_test=[' LN', ' DR', ' PL', '8 W CT']

In [342]:
for test in str_test:
    print(fixes(test))

 LANE
 DRIVE
 PLACE
8 WEST COURT

In [343]:
#making two dataframes one

In [344]:
df_final = df_1.append(df_2)

In [345]:
#inspect

In [346]:
df_final

      Unnamed: 0            Code      Property_Location    Mailing Address
0              0        1517_2_7    221 BEAVER DAM ROAD  221 BEAVER DAM RD
1              1    1517_48.01_6  125 SOUTH SHORE DRIVE     121 S SHORE DR
2              2    1517_48.01_7  121 SOUTH SHORE DRIVE     121 S SHORE DR
3              3    1517_48.01_8  117 SOUTH SHORE DRIVE     117 S SHORE DR
4              4   1517_48.01_12  101 SOUTH SHORE DRIVE     101 S SHORE DR
...          ...             ...                    ...                ...
4928        4928  1517_331.07_14      22 SEA ISLE DRIVE     22 SEA ISLE DR
4929        4929  1517_331.07_15      21 SEA ISLE DRIVE     21 SEA ISLE DR
4930        4930  1517_331.07_17      17 SEA ISLE DRIVE     17 SEA ISLE DR
4931        4931   1517_333.33_1   80 EAST ANCHOR DRIVE    124 E ANCHOR DR
4932        4932   1517_333.33_3      EAST ANCHOR DRIVE    124 E ANCHOR DR

[8666 rows x 4 columns]

In [347]:
#my fixed version of mailing - left a print statement in to see nan values

In [358]:
df_final['Mailing_edited'] = df_final['Mailing Address'].apply(lambda x: fixes(x))

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [359]:
#my fixed version of property - left a print statement in to see nan values

In [360]:
df_final['Property_edited'] = df_final['Property_Location'].apply(lambda x: fixes(x))

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [361]:
#everythign looks alright

In [362]:
df_final

,Unnamed: 0,Code,Property_Location,Mailing Address,Mailing_edited,Property_edited
0,0,1517_2_7,221 BEAVER DAM ROAD,221 BEAVER DAM RD,221 BEAVER DAM ROAD,221 BEAVER DAM ROAD
1,1,1517_48.01_6,125 SOUTH SHORE DRIVE,121 S SHORE DR,121 SOUTH SHORE DRIVE,125 SOUTH SHORE DRIVE
2,2,1517_48.01_7,121 SOUTH SHORE DRIVE,121 S SHORE DR,121 SOUTH SHORE DRIVE,121 SOUTH SHORE DRIVE
3,3,1517_48.01_8,117 SOUTH SHORE DRIVE,117 S SHORE DR,117 SOUTH SHORE DRIVE,117 SOUTH SHORE DRIVE
4,4,1517_48.01_12,101 SOUTH SHORE DRIVE,101 S SHORE DR,101 SOUTH SHORE DRIVE,101 SOUTH SHORE DRIVE
...,...,...,...,...,...,...
4928,4928,1517_331.07_14,22 SEA ISLE DRIVE,22 SEA ISLE DR,22 SEA ISLE DRIVE,22 SEA ISLE DRIVE
4929,4929,1517_331.07_15,21 SEA ISLE DRIVE,21 SEA ISLE DR,21 SEA ISLE DRIVE,21 SEA ISLE DRIVE
4930,4930,1517_331.07_17,17 SEA ISLE DRIVE,17 SEA ISLE DR,17 SEA ISLE DRIVE,17 SEA ISLE DRIVE
4931,4931,1517_333.33_1,80 EAST ANCHOR DRIVE,124 E ANCHOR DR,124 EAST ANCHOR DRIVE,80 EAST ANCHOR DRIVE
4932,4932,1517_333.33_3,EAST ANCHOR DRIVE,124 E ANCHOR DR,124 EAST ANCHOR DRIVE,EAST ANCHOR DRIVE

In [363]:
#dropping nan values - only lose 17 entries, or about 0.2 percent

In [364]:
df_real_final = df_final.dropna()

In [365]:
df_real_final

,Unnamed: 0,Code,Property_Location,Mailing Address,Mailing_edited,Property_edited
0,0,1517_2_7,221 BEAVER DAM ROAD,221 BEAVER DAM RD,221 BEAVER DAM ROAD,221 BEAVER DAM ROAD
1,1,1517_48.01_6,125 SOUTH SHORE DRIVE,121 S SHORE DR,121 SOUTH SHORE DRIVE,125 SOUTH SHORE DRIVE
2,2,1517_48.01_7,121 SOUTH SHORE DRIVE,121 S SHORE DR,121 SOUTH SHORE DRIVE,121 SOUTH SHORE DRIVE
3,3,1517_48.01_8,117 SOUTH SHORE DRIVE,117 S SHORE DR,117 SOUTH SHORE DRIVE,117 SOUTH SHORE DRIVE
4,4,1517_48.01_12,101 SOUTH SHORE DRIVE,101 S SHORE DR,101 SOUTH SHORE DRIVE,101 SOUTH SHORE DRIVE
...,...,...,...,...,...,...
4928,4928,1517_331.07_14,22 SEA ISLE DRIVE,22 SEA ISLE DR,22 SEA ISLE DRIVE,22 SEA ISLE DRIVE
4929,4929,1517_331.07_15,21 SEA ISLE DRIVE,21 SEA ISLE DR,21 SEA ISLE DRIVE,21 SEA ISLE DRIVE
4930,4930,1517_331.07_17,17 SEA ISLE DRIVE,17 SEA ISLE DR,17 SEA ISLE DRIVE,17 SEA ISLE DRIVE
4931,4931,1517_333.33_1,80 EAST ANCHOR DRIVE,124 E ANCHOR DR,124 EAST ANCHOR DRIVE,80 EAST ANCHOR DRIVE
4932,4932,1517_333.33_3,EAST ANCHOR DRIVE,124 E ANCHOR DR,124 EAST ANCHOR DRIVE,EAST ANCHOR DRIVE

In [366]:
#columns are not exactly the same — we have some out of town owners

In [367]:
df_real_final['Property_edited'].equals(df_real_final['Mailing_edited'])

False

In [368]:
#create a boolean column based on matching

In [369]:
df_final['compare'] = np.where(df_final['Property_edited'] == df_final['Mailing_edited'], True, False)

In [370]:
#tot up values of those scores

In [371]:
df_final['compare'].value_counts(normalize=True, dropna=False)

True     0.740595
False    0.259405
Name: compare, dtype: float64

In [ ]:
#roughly a fourth of the properties have owners that don't list them as their mailing addresses